:root {
    --heading-color: #1F2278;
    --pages-purple: #565ACF;
    --pages-orange: #F17732;
    --white: #FFFF;
    --some-color: #444444;
    --main-font: "Montserrat";
    --first-circle: #FFF0F0;
    --second-circle: #F8F0FF;
    --third-circle: #EEFFF4;

}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: var(--main-font);
}
.card-body ul{
    display: flex;
    align-items: center;
    text-align: center;
    /* justify-content: space-around; */
    
}
.card-body .author{
   display: flex;
   align-items: center;   
}

.card-body ul li{
    color: var(--pages-orange);
}
.card-body .date{
    font-size: 15px;
}
.card-body img, .card-body svg {
    /* vertical-align: top; */
}
.card-body .card-title{
    color: var(--heading-color);
    font-weight: 700;
    margin-bottom: 25px;
}
.card-body .card-title:hover{
    color: var(--pages-purple);
}
.card-body .btn{
    background-color: var(--white);
    color: var(--pages-purple);
    border: 1px solid var(--pages-purple);
    position: relative;
    line-height: 1.2;
    text-align: start;
    
}
.card-body .btn:hover{
    background-color: var(--pages-purple);
    color: var(--white);
    border: 1px solid var(--pages-purple);
}
.card-body .btn .btn-icon{
    position: absolute;
    top: 18%;
    right: 3%;
    background-color: var(--pages-purple);
    color: white;
    border-radius: 8px;
    height: 65%;
    width: 19%;
    padding: 4px;
}
.card-body .author img{

    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.card-body .author{
    margin-right: 20px;
    margin-left: -20px;
}

.card-img-top{
    padding: 20px;
    border-radius: 25px
}
.blog-container{
    max-width: 950px;
}
.card:hover{
    box-shadow:  0px 10px 60px 0px rgb(31 34 120 / 10%);
    border: 1px solid white;
}
.card{
   border:2px solid rgba(86, 90, 207, 0.2);
}
.pagination li .page-link{
    margin: 0 10px;
    border-radius: 7px;
    color: var(--pages-purple);
  }
.pagination .active .page-link{
    background-color: var(--pages-purple);
    color: white;
}  
.card-body img, .card-body svg {
    vertical-align: top;
}
.cont{
    margin-top: 60px;
}
.card-body{
    margin-left: 1rem;
}
.card-body ul{
    padding-left: 1.2rem;
}
@media only screen and (max-width: 1200px){
.card-body .btn {
    width: 42%;
}
}
@media only screen and (min-width: 1400px){
.card-body .btn {
    width: 45%;
}
}
@media only screen and (max-width: 992px){
.card-body .btn {
   width: 50%;
}
}
@media only screen and (max-width: 768px){
.card-body .btn {
    width: 38%;
}
}
/* @media only screen and (min-width: 576px){
.card-body .btn {
   
}
} */
@media only screen and (max-width: 576px){
.card-body .btn {
    width: 46%;
}
}
@media (min-width: 1200px){
    .blog-section{
        max-width: 1199px;
        margin: 0 auto!important;
        /* padding-top: 100px; */
    }
}
@media (min-width: 992px){
    .blog-section{
        max-width: 960px;
        margin: 0 auto!important;
    }
}
@media (min-width: 768px){
    .blog-section{
        max-width: 760px;
        margin: 0 auto!important;
    }
}
@media (min-width: 576px){
    .blog-section{
        max-width: 540px;
        margin: 0 auto!important;
    }
}