:root {
    --heading-color: #1F2278;
    --pages-purple: #565ACF;
    --pages-orange: #F17732;
    --white: #FFFF;
    --some-color: #444444;
    --main-font: "Montserrat";
    --first-circle: #FFF0F0;
    --second-circle: #F8F0FF;
    --third-circle: #EEFFF4;
    --another-color: #e6e7ff;
    --first-box:#ecfcff;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: var(--main-font);
}
.about-us-section .imgs-side ul{
    display: flex;
    flex-wrap: wrap;
}
.about-us-section .imgs-side ul li{
    display: inline-flex;
    padding: 0 10px;

}
.first-section{
    position: relative;
    margin-bottom: 72px;
}
.about-us-section .imgs-side ul li:nth-child(2) img{
    height: 100%;
    width: 90%;
    border-radius: 60px 0 60px 60px; 
}
.about-us-section .imgs-side ul li:first-child img{
    height: 85%;
    width: 95%;
    border-radius: 0 60px 60px;
    margin-left: auto;
}
.about-us-section .imgs-side ul li:nth-child(3) img{
    margin-left: auto;
    border-radius: 60px 60px 60px 0; 
    height: 75%;
    width: 75%;
} 
.about-us-section .imgs-side ul li:last-child{
    font-size: 9rem;
    color: var(--pages-purple);
    font-weight: 800;
    font-family: var(--main-font), sans-serif;
    flex-wrap: wrap;
    background-color: var(--another-color);
    border-radius: 60px 60px 0px 60px;
    padding: 60px 27px 30px;
    /* text-align: center; */
    line-height: 75px;
    position: relative;
    z-index: 2;
    width: 40%!important;
}
.about-us-section .imgs-side ul li:last-child span::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border: 2px solid var(--heading-color);
    border-radius: 60px 60px 0px 60px;
    top: 5%;
    left: 5%;
    z-index: 3;
}
.about-us-section .imgs-side ul li:last-child span{
    color: var(--heading-color);
    font-size: 1.2rem;
    font-weight: 800;
}
.about-us-section .imgs-side ul li:nth-child(2), .about-us-section .imgs-side ul li:last-child{
    width: 55%;
}
.about-us-section .imgs-side ul li:nth-child(3), .about-us-section .imgs-side ul li:first-child{
    width: 45%;
   
}
.about-us-section .imgs-side ul li:first-child{
    flex-direction: column-reverse;
}
.about-us-section .svg-side .icon svg{
    height: 45px;
    width: 45px;
    vertical-align: super;
    margin-right: 40px;
}
.about-us-section .svg-side .feature-content h4{
    font-size: 16px;
}
.about-us-section .heading-side h6{
    color: var(--pages-orange);
    font-size: 18px;
    background-image: url(../../images/ext-orange.png);
    width: 120px;
    padding: 3px 20px;
}
.about-us-section{
    margin-top: 50px;
}
.about-us-section .imgs-side{
    position: relative;

}
.about-us-section .imgs-side::after{
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 15px;
    left: 43%;
    top: 48%;
    transform: rotate(47deg);
    background-color: var(--pages-orange);
}
.about-us-section .heading-side .title {
    font-size: 46px!important;
    font-weight: 700!important;
    margin: 20px 0 8px;
}
.about-us-section .heading-side p{
    font-size: 17px;
    margin: 0 0 16px;
    padding: 5px 0 0 ;
    width: 82%;
}
.about-us-section .svg-side .feature1{
    border: 3px solid var(--first-box);
    padding: 0 10px;   
    margin-bottom: 15px;
    border-radius: 10px;
    width: 98%;
    position: relative;
}
.about-us-section .svg-side .feature1::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 73px;
    border-radius: 0 35px 35px 0;
    background-color: var(--first-box);
    z-index: -1;
}
.about-us-section .svg-side .feature2::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 73px;
    border-radius: 0 35px 35px 0;
    background-color: var(--third-circle);
    z-index: -1;
}
.about-us-section .svg-side .feature3::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 73px;
    border-radius: 0 35px 35px 0;
    background-color: var(--first-circle);
    z-index: -1;
}
.about-us-section .svg-side .feature4::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 73px;
    border-radius: 0 35px 35px 0;
    background-color: var(--another-color);
    z-index: -1;
}
.about-us-section .svg-side .feature2{
    border: 3px solid var(--third-circle);
    padding: 0 10px;
    border-radius: 10px;
    position: relative;
    width: 98%;
}
.about-us-section .svg-side .feature3{
    border: 3px solid var(--first-circle);
    padding: 0 10px;
    border-radius: 10px;
    position: relative;
    width: 98%;
}
.about-us-section .svg-side .feature4{
    border: 3px solid var(--another-color);
    padding: 0 10px;
    border-radius: 10px;
    position: relative;
    width: 98%;   
}
.second-col{
    padding-top: 35px;
    margin-left: 0;
}
.contact-btn{
    background-color: var(--pages-purple)!important;
    color: #fff!important;
}
.contact-btn:hover{
    background-color: #4A4AB7!important;
}
.about-us-section .img1{
    position: absolute;
    top: 75%;
    left: 10%;
    z-index: -2;
    animation: move-waves 5s infinite;
}
.about-us-section .img2{
    position: absolute;
    bottom: -9%;
    right: 27%;
    z-index: -2;
    animation: move-circle 5s infinite;
}
.about-us-section .img3{
    position: absolute;
    top: 23%;
    right: -0.2%;
    z-index: -2;
    animation: rotate-circle 26s infinite;
}
.about-us-section .img4{
    position: absolute;
    z-index: -2;
    top: 7%;
    left: -2%;
    animation: move-square2 5s infinite;
}
.about-us-section .img5{
    position: absolute;
    z-index: -2;
    right: 0;
    bottom: 0;
    animation: move-square 5s infinite;
}
.about-us-section .svg-side{
    margin-top: 40px;
}
@keyframes move-square{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(15px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes move-waves{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(10px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes move-square2{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes move-circle{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes rotate-circle{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media (min-width: 992px) and (max-width: 1200px){
        .about-us-section .imgs-side ul li:nth-child(2) img{
            height: 249.5px;
            width: 294.5px;
            /* margin-bottom: 40px; */
    }
    .about-us-section .imgs-side ul li:first-child img{
       height: 200.5px;
       width: 200.5px;
       margin-left: -45px;
    }
    .about-us-section .imgs-side ul li:nth-child(3) img{
        height: 185px;
        width: 185px;
        margin-left: -45px;
    } 
    .about-us-section .imgs-side ul li:last-child{
            font-size: 7rem;
            line-height:60px;
            width: 200px!important;
    }
    .about-us-section .imgs-side ul li:last-child span{
        font-size: 0.9rem;
        font-weight: 900;
        
    }
    .second-col{
             padding-top: 0;
    }
    .about-us-section .heading-side .title{
        font-size: 38px!important;
    }
    .about-us-section .heading-side p{
        width: 105%;
    }
    .about-us-section .imgs-side{
        margin-right: 45px;
    }
}

@media (max-width: 576px){
    .about-us-section .imgs-side{
        margin-left: -25px;
    }
    .about-us-section .imgs-side ul li:first-child img{
        border-radius: 0 30px 30px;
        height:85%;
        width: 100%;
    }
    .about-us-section .imgs-side ul li:nth-child(2) img{
        height: 95%;
        width: 100%;
        border-radius: 30px 0 30px 30px;
    }
    .about-us-section .imgs-side ul li:last-child span{
        font-size: 0.6rem;
        font-weight: 900;
        margin-top: -20px;
    }
    .about-us-section .imgs-side ul li:last-child{
        font-size: 4.5rem;
        height: 100%;
        width: 45%!important;
        border-radius: 30px 30px 0 30px;
        padding: 40px 27px 30px;
        text-align: center;
    }
    .about-us-section .imgs-side ul li:last-child span::after{
        border-radius: 30px 30px 0 30px;
    }
    .about-us-section .imgs-side ul li:nth-child(3) img{
        border-radius: 30px 30px 30px 0;
        height: 70%;
        width: 100%;
    } 

    .about-us-section .heading-side .title{
        font-size: 25px!important;
    }
    .about-us-section .heading-side p{
        font-size: 12px;
        width: 98%;
    }
    .about-us-section .imgs-side::after{
        top: 40%;
        
    }
    
}
@media (max-width: 830px){
    .about-us-section .img1{
        display: none;
    }
    .about-us-section .img2{
        display: none;
    }
    .about-us-section .img3{
        display: none;
    }
    .about-us-section .img4{
        display: none;
    }
    .about-us-section .img5{
       display: none;
    }
  
}
@media (min-width: 576px) and (max-width:768px) {
    .about-us-section .imgs-side ul li:first-child img{
        height: 227px;
        width: 227px;
        margin-left: -25px;
    }
    .about-us-section .imgs-side ul li:nth-child(2) img{
        height: 285px;
        width: 285px;
    }
    .about-us-section .imgs-side ul li:nth-child(3) img{
        height: 185px;
        width: 185px;
    } 
    .about-us-section .imgs-side ul li:last-child{
        font-size: 7rem;
        line-height:60px;
        width: 220px!important;
}
.about-us-first-section .imgs-side ul li:last-child span{
    font-size: 0.9rem;
}
}

@media (min-width: 768px) and (max-width: 769px){
    .about-us-section .imgs-side ul li:first-child img{
        margin-left: 50px;
    }
}