:root {
    --heading-color: #1F2278;
    --pages-purple: #565ACF;
    --pages-orange: #F17732;
    --white: #FFFF;
    --some-color: #444444;
    --main-font: "Montserrat";
    --first-circle: #FFF0F0;
    --second-circle: #F8F0FF;
    --third-circle: #EEFFF4;

}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: var(--main-font);
}
.appointment-form select{
    border: 1px solid;
    border-color: rgba(86, 90, 207, 0.3);
    border-radius: 8px;
    height: 60px;
    font-weight: 500;
    font-size: 16px;
    color: #444;
    padding: 18px 25px;
    margin-top: 0;
}
.form-control{
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    height: 60px;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .375rem;
}
.appointment-form{
    background-color: #fff;
    box-shadow: 0px 10px 60px 0px rgb(31 34 120 / 10%);
    padding: 40px 35px;
    text-align: center;
    position: relative;
    margin-left: 20px;
    padding: 30px;
    border-radius: 40px;
}
.appointment-form .booking-title {
    margin-bottom: 30px;
    color: var(--heading-color);
    font-weight: 700;
    font-family: var(--main-font) , sans-serif;
}
.booking{
    padding-top: 100px;
}
@media (min-width: 1200px) {
    .container{
        max-width: 1199px;
    }
}
@media (max-width: 992px) {
    .container{
        max-width: 570px!important;
    }
}
@media (max-width: 768px) {
    .container{
        max-width: 440px!important;
    }
}
@media (max-width: 576px) {
    .container{
        max-width: 440px;
    }
}
.appointment-form::after{
    content: "";
    position: absolute;
    bottom: 3%;
    right: 4%;
    height: 100%;
    width: 100%;
    border: 2px solid var(--pages-purple);
    border-radius: 40px;
    z-index: -2;
}