.card-content{
    padding: 40px;
    background-image: url('./line-bg3.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #fff;
    box-shadow: 1px 1px 50px rgb(0 0 0 / 8%);
    z-index: 1;
    border-radius: 20px;
}

.icon-box{
    border-radius: 20px;
    background: #fff;
    border: 2px solid rgba(86, 90, 207, 0.1);
    border-radius: 13px;
    width: 130px;
    height: 130px;
    line-height: 130px;
    text-align: center;
    margin-bottom: 20px;
}

.description p{
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: 400;
    color: var(--gray);
    font-family: 'Roboto', sans-serif;
}

.card-btn{
    background-color: #e1e2f6 !important;
    color: #565acf !important;
    border: none !important;
    transition: all .3s ease !important ;
}

.coloms:hover .card-btn{
    background-color: #7b82fc !important;
    color: #fff !important;
    border: none !important;
    outline: none;
}

/* cards section 2 */

.services-section2-content{
    background-color: #fff;
    padding: 50px 30px;
    border-radius: 20px;
    position: relative;
    margin: 15px 0 0 15px;
}

.services-section2-content::after{
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    border: 2px solid #565acf;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    z-index: -1;
}

.services-section2-content h2{
    font-size: 60px;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--orange);
}

.services-section2-content h5{
    font-weight: 700;
    color:  var(--main-color);
}

.services-section2-content p{
    font-size: 14px;
    color: var(--gray);
}